body {
    background-color: #591902;
  }
#menu {
    background-image: url("https://39124.cdn.simplo7.net/static/39124/sku/papel-de-parede-tijolo-Papel-de-Parede-Tijolo-Cinza-Laranja-Pedras-Adesivo-Autocolante-PD03-Copia-1-copia-1-1462447534852.jpg");
    background-position: center;
    background-size: cover;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
form{
    background-image: url("https://images.tcdn.com.br/img/img_prod/720390/bricks_tijolo_a_vista_marrom_vintage_escuro_rustico_74_81_4_44b9d3a03b3163023d490a51ee2a9dbf.jpg");
    background-position: center;
    border-radius: 12px;
}
fieldset{
    
}
